@import "_reset.scss";

body{
    width: 100%;
    font-family: "Avenir Next";
}

header{
    position: fixed;
    display: table;
    width: 100%;
    height: 80px;
    z-index: 100;
    .header-wrap{
        padding: 10px;
        background: linear-gradient(45deg, #81ba30 0%, #24a47b 100%);
        box-sizing: border-box;
        .header-right{
            #search
            {
                float: right;
                height: 40px;
                width: 250px;
                padding: 0px 20px;
                margin-top: 10px;
                margin-right: 20px;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.8);
                border:0px;
                &::placeholder{
                color: #81ba30;
                }
            }
            .cart_button{
                float: right;
                height: 40px;
                width: 40px;
                margin-top: 10px;
                color: #81ba30;
                text-align: center;
                line-height: 40px;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.8);
            }

        }
        .header-left{
            .logo{
                float: left;
                display: inline-block;
                img{
                    float: left;
                    margin-top: 10px;
                    margin-right: 20px;
                    height: 40px;
                }
                .logo-name{
                    float: left;
                    height: 30px;
                    margin-top: 15px;
                    margin-right: 30px;
                    display: inline-block;
                    font-size: 200%;;
                    line-height: 30px;
                }
            }
            .header_dropdowns{
                float: left;
                margin-top: 18px;
                height: 30px;
                .options{
                    display: inline-block;
                    width: 150px;
                    padding: 5px 15px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: px;
                    i.drop-down{
                        float: right
                    }
                }
            }
        }
    }
    .cell{
        height: 60px;
    }
}
main{
    position: relative;
    width: 100%;
    top: 80px;;
    background:#23262a ;
    min-height: 1000px;
    #cartFixed{
        font-size: 120%;
        position: fixed;
        top: 300px;
        right: 10px;
        background-color: #81ba30;
        padding: 10px 25px 10px 30px;
        transform: rotate(90deg) translate(0%, -100%);
        border-radius: 5px;
        z-index: 101;
        .cartLength{
            position: absolute;
            left: -10px;
            bottom: -10px;
            width: 30px;
            height: 30px;
            padding:5px;
            text-align: center;
            border-radius: 15px;
            background-color: #ff2525;
            transform: rotate(270deg);
        }
        
    }
    .imageSlider{
        height: 500px;
        .banner{
            height: 300px;
            .bannerImg{
                width: 100%;
                height: 500px;
                background: url("../img/banner1.png");
                background-position: 0px;
                background-size: 100%;
            }
            .banner-description{
                position: absolute;
                top: 0px;
                width: 60%;
                height: 300px;
                padding: 50px 50px;
                margin-top: 100px;
                background-color:#85c146;
                color: white;
                box-sizing: border-box;
                clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
                h1{
                    font-size: 80px;
                    font-weight: 600;
                }
                h3{
                    font-size: 50px;
                    font-weight: 400;

                }
                p{
                    font-size:20px;
                }
                
            }
            .shopNow{
                position: absolute;
                top: 250px;
                left: 30%;
                padding: 0px 20px;
                color: white;
                line-height: 70px;
                text-align: center;
                font-size: 35px;
                font-weight: 900;
                background-color:#587a33;
                z-index: 20;
            }
            .banner-productDetails{
                position: absolute;
                top: 250px;
                right: 0px;
                padding: 10px 30px;
                margin-top: 150px;
                background: linear-gradient(90deg, #81ba30 0%, #24a47b 100%);
                text-align: right;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 20px;
                }
            }
        }
    }
    .productsDisplay{
        width: 1000px;
        padding-top: 10px;
        margin-bottom: 100px;
        .productContainer{
            padding: 10px;
            box-sizing: border-box;
            background:rgba(0, 0, 0, 0.11);
            .product{
                width: calc(100% - 20px);
                margin: 10px;
                transition-duration: 0.1s;
                &:hover{
                    transform: scale(1.1);
                    transition-duration: 0.2s;
                }
                .productPrice{
                    display: inline-block;
                    position: relative;
                    top: 56px;
                    left: 0px;
                    width: 56px;
                    height: 56px;
                    background-color: #81ba30;
                    line-height: 56px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 50px;
                    transition-duration: 0.1s;
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.2s;
                    }
                }
                .productImagenExtra{
                    position: relative;
                    width: 100%;
                    height: 200px;
                    background-color: #b3cb91;
                    clip-path: polygon(50% 0, 99% 0, 100% 100%, 0 100%, 0 50%);
                    background-size: auto 100%;
                    .productName{
                        display: inline-block;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 50%;
                        padding: 5px 20px;
                        background-color: #b3cb91e1;
                        font-weight: 500;
                        text-align: center;
                        border-radius: 10px 0px 0px 0px;
                    }
                }
                .addToCart_Panel{
                    height: 50px;
                    width: 100%;
                    font-weight: 500;
                    background-color: #4bac5c;
                    .counter{
                        float: left;
                        display: inline-block;
                        height: 100%;
                        width: 50%;
                        padding: 13px 10px;
                        .minus{
                            cursor: pointer;
                            float: left;
                            font-size: 25px;
                            transition-duration: 0.05s;
                            &:hover{
                                transform: scale(1.1);
                                transition-duration: 0.1s;
                            }
                            &:active{
                                transform: scale(0.9);
                                transition-duration: 0.1s;
                            }
                        }
                        .count{
                            float: left;
                            width: 40px;
                            text-align: center;
                            font-size: 20px;
                            line-height: 25px;
                        }
                        .add{
                            cursor: pointer;
                            float: right;
                            font-size: 25px;
                            transition-duration: 0.05s;
                            &:hover{
                                transform: scale(1.1);
                                transition-duration: 0.1s;
                            }
                            &:active{
                                transform: scale(0.9);
                                transition-duration: 0.1s;
                            }
                        }
                    }
                    .addToCart_button{
                        cursor: pointer;
                        float: left;
                        display: inline-block;
                        height: 100%;
                        width: 50%;
                        padding: 10px  5px;
                        text-align: center;
                        font-size: 13px;
                        box-sizing: border-box;
                        &:active{
                            transform: scale(0.9);
                            transition-duration: 0.1s;
                        }
                        p{
                            padding: 10px;
                            height: 30px;
                            color: #cdf7d5;;
                            background-color: #171d0d;
                            border-radius: 4px;
                            transition-duration: 0.05s;
                            &:hover{
                                transform: scale(1.1);
                                transition-duration: 0.1s;
                            }
                        }
                    }
                }
            }
        }
    }

    .adDisplays{
        position: relative;
        .adDisplay{
            height: 200px;
            background-color: #4bad5c;
            margin: 30px 0px !important;
            &:nth-child(1){
                background-color: #68b444;

            }
            &:nth-child(2){
                background-color: #4bad5c;
                
            }
            &:nth-child(3){
                background-color: #2aa576;
                
            }

        }
    }
}
footer{
    display: inline;
    .footerMenu{
        position: relative;
        min-height: 10px;
        text-align: center;
        background-color: #618a31;
        .cell{
            padding: 20px;
            box-sizing: border-box;
        }
        .social{
            i{
                color: rgba(0, 0, 0, 0.8);
                position: relative;
                font-size: 150%;
            }
        }
    }
    .footerCopyright{

        position: relative;
        min-height: 40px;
        color: white;;
        text-align: center;
        line-height: 40px;
        background-color: #3a531d;
    }
}